html{font-size: 62.5%;}
*{padding: 0;margin: 0;}
body{
    font-size: 1.5rem;
}
.head1{
    display:flex;
    height: 50px;
    width: 100%;
    background-color: #5fc0cd;
}
.textbox1{
        margin:auto;
}

.text1{
    padding: 5px;
    color:#ffffff;
    border-radius: 10%;
    background-color: #55a8b3;
    margin: 5px 0;
    display: inline;
}
.text2{
    padding: 5px;
    color: #5fc0cd;
    border-radius: 10%;
    background-color: #ffffff;
    margin: 5px 0; 
    display: inline;
}

.img1{
    overflow: hidden; 
    display: inline;
    width: 25px;
    height: 22px;
    background-image:url(sprite.png);
    background-position:50% 0;
    float: right;
    margin-top:14px;
    margin-right: 15px;
    margin-left: -45px;

}
footer{
   position: fixed;
   bottom: 0;
    height: 48px;
    width: 100%;
    background-color: #ffffff;
    border: 1px dotted #000000;
}
.textbox2{
     position: absolute;
    left:20%;
    color: #5fc0cd;
}
.textbox3{
      position: absolute;
    right: 20%;
    color: #999999;
}
.footer1{
   
    overflow: hidden; 
    display: inline;
    width: 23px;
    height: 20px;
    background-image:url(sprite.png);
    background-position:100% 0;
    float: right;


}
.footer2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; 
    display: inline;
    width: 48px;
    height: 48px;
    background-image:url(sprite.png);
    background-position:0 0;
    float: right;
}
.footer3{ 
    overflow: hidden; 
    display: inline;
    width: 21px;
    height: 21px;
    background-image:url(sprite.png);
    background-position:98% 86%;
    float: right;

}
.container{
    margin:5px 0px;
    /*border: 1px dotted #000000;*/
    text-align: center;
    color: #999999;
}

div.col-xs-12{
    text-align: left;
    line-height: 20px;
    
}

.calender{

    overflow: hidden; 
    display: inline;
    width: 12px;
    height:20px;
    background-image:url(sprite.png);
    background-position:44% 68%;
    float:left;
    margin-left: -10px;
   
}
.date{
    float: left;
    margin-left: 10px;
    margin-top: 2px;
}
div.col-xs-8{
    text-align: left;
    
}
.text3{
    color: #000000;
    margin-left: 10px;

}
.text4{
    color:#ec6b4a;
}
.location{

    overflow: hidden; 
    display: inline;
    width: 10px;
    height:12px;
    background-image:url(sprite.png);
    background-position:66% 0%;
    float:left;
    margin-left: -10px;
    margin-top: 6px;
   
}