    html{font-size: 62.5%;}
    *{padding: 0;margin:0;}
     header{
        position: fixed;
        display: flex;
        height:60px;
        width: 100%;
        background-color: #5fc0cd;

     }
    main{
        position:fixed;
        top:0;
        width: 100%;
        bottom:100px;
        overflow: auto;
     }

     .img1{
		margin-top: 12px;
		margin-left: 30px;
        width: 22px;
        height:36px;
    }
      
     .img2{
        position:absolute;
        top: 0;
     }
     .img3{
        position: absolute;
        top: 50%;
        transform: translate(30%, -50%);  /* 使用css3的transform来实现 */
        width:170px;
        height:170px;
    
     }
     .textbox1{
		margin: auto;
        font-size:36px;
        color: #ffffff;
        font-family: "Adobe 黑体 Std R" ;
        
     }
     .content1{
        width: 100%;
        height:40%;
        background-image:url("https://github.com/Skylberry/my-ityard-task/blob/master/task5/background.png?raw=true");
        background-size:100% 100%;
        position: relative;
       
     }
    .textbox2{
        width: 500px;
        position: absolute;
        top: 50%;
        left:500px;
        transform: translate(-50%,-50%);  /* 使用css3的transform来实现 */
        height:26%;
    }
    .text1{
        font-size:36px;
        float: left;
        left:25px;
        color: #ffffff;
        font-family: "Adobe 黑体 Std R" ;
    }
    .text3{
        font-size:24px;
        position: absolute;
        left:5%;
        top:70%;
        left:25px;
        color: #ffffff;
        font-family: "Adobe 黑体 Std R" ;
    }
    .img4{
        height:24px;
        position: absolute;
        left:0;
        top:70%;
    }
   
    .textbox3{
        font-size:32px;
        color: #000000;
        white-space: nowrap;
        font-family:  "Adobe 黑体 Std R" ;
    }
    .span1{
        font-size:36px;
        color:#5fc0cd;
        padding-right: 2%;
    }
    .img5{
        margin-left:50px;
       
    }
 
    .span3{
        height:32px;
        line-height:32px;
        font-size:32px;
        color:#5fc0cd;
        font-weight: bold;
        margin-left:35px;
    }
    .textbox4{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        flex: 1 0 auto;
        align-items: center;
        margin: 20px 0 ;
    }
      
    .text8{
        white-space: nowrap;
        margin-left: 50px;
        padding-right: 50px;
        border-right: 1px solid #999999;
        font-size:32px;
        color: #999999;
        font-family:  "Adobe 黑体 Std R" ;
    
    }
     .span2{

       align-self: center;
        margin-left: 50px;


    }
 .content2{
        display: flex;
        flex-direction: column;
        font-size:28px;
    
    }
  
    .textbox5{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin: 20px 0 ;

    }
     .text9{
        margin-left:50px;
        font-size:32px;
        white-space: nowrap;
        padding-right: 50px;
        border-right: 1px solid #999999;
        color: #999999;
        align-self: center;
       
        }   
      .span4{
        margin-left: 50px;
        align-self: center;
        
    }

    .border1{
         border-bottom: 1px solid #999999;
    }
    .border2{
        margin-left:30px;
        border-bottom: 1px solid #999999;
    }
      footer{
       position: fixed; 
        display: flex;
        bottom: 0;
        width: 100%;
        height:10%;
        background-color: #ffffff;
     }
      .button1{
        border-radius: 10px;
        position: absolute;
        top: 0;
        left:4.1%;
        width: 45%;
        height: 70%;
        border: 2px solid #5fc0cd;
        font-size: 34px;
        color: #5fc0cd;
        font-family:  "Adobe 黑体 Std R" ;
        background-color: #ffffff;
    } 
    .button2{
        border-radius: 10px;
        position: absolute;
        top: 0;
        right: 4.1%;
        width: 45%;
        height: 70%;
        border: 1px solid #5fc0cd;
        font-size: 34px;
        color: #ffffff;
        font-family:  "Adobe 黑体 Std R" ;
        background-color:#5fc0cd;
    }