    html{font-size: 62.5%;}
    *{padding: 0;margin:0;}
     header{
        position: fixed;
        display: flex;
        align-items: center;
        height:60px;
        width: 100%;
        background-color: #5fc0cd;

     }
    main{
        position:fixed;
        top:60px;
        width: 100%;
        bottom:100px;
        overflow: auto;
        font-size: 15px;
     }

     .imgbox1{
		margin-top:20px;
		margin-left:20px;
		margin-right:-62px;
        width: 2.2rem;
        height:3.0rem;
    }

     .img1{
        
        width:1rem;
        height:1rem;
    } 
     .img2{
        position:absolute;
        top: 0;
     }
     .img3{
       margin:30px 0 30px 20px;
        width:80px;
        height:80px;
        
     }
     .textbox1{


     	z-index: 1;
		margin: auto;
        font-size: 2.0rem;
        color: #ffffff;
        font-family: "Adobe 黑体 Std R" ;
        
     }
     .content1{
		display: flex;
		align-items: center;
        width: 100%;
        background-image:url("https://github.com/Skylberry/my-ityard-task/blob/master/task5/background.png?raw=true");
        background-size:cover;
        align-content:center;
       
     }
    .textbox2{
       white-space: nowrap;
       margin-left: 10px;
    }
     .textbox6{
       display: flex;
       flex-direction: row;
       align-items: center;
    }
    .text1{
	
        left:25px;
        color: #ffffff;
        font-family: "Adobe 黑体 Std R" ;
    }
    .text3{
       
       margin-left: 10px;
        color: #ffffff;
        font-family: "Adobe 黑体 Std R" ;
    }
    .img4{
        height:1.5rem;
       align-self: baseline;
       
    }
   
    .textbox3{

        color: #000000;
        white-space: nowrap;
        font-family:  "Adobe 黑体 Std R" ;
    }
    .span1{

        color:#5fc0cd;
        padding-right: 2%;
    }
    .img5{
        margin-left:20px;
        height: 1.5rem;
       
    }
 
    .span3{
        height:32px;
        line-height:32px;
        color:#5fc0cd;
        font-weight: bold;
        margin-left:15px;
    }
    .textbox4{
        display: flex;
        flex-direction: row;
        margin-left:10px;
        flex: 1 0 auto;
        align-items: center;
        margin:10px 0 ;
        white-space: nowrap;
    }
      
    .text8{
        white-space: nowrap;
        margin-left:20px;
        padding-right:20px;
        border-right: 1px solid #999999;

        color: #999999;
        font-family:  "Adobe 黑体 Std R" ;
    
    }
     .span2{

       align-self: center;
        margin-left:20px;

        white-space: nowrap
    }
 .content2{
        display: flex;
        flex-direction: column;

    
    }
  
    .textbox5{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin: 20px 0 ;

    }
     .text9{
        margin-left:20px;

        white-space: nowrap;
        padding-right:20px;
        border-right: 1px solid #999999;
        color: #999999;
        align-self: center;
       
        }   
      .span4{
        margin-left:20px;
        align-self: center;

        
    }

    .border1{
         border-bottom: 1px solid #999999;
    }
    .border2{
        margin-left:10px;
        border-bottom: 1px solid #999999;
        margin-right: 10px;
    }
      footer{
        font-size: 3.0rem;
       position: fixed; 
        display: flex;
        bottom: 0;
        width: 100%;
        line-height:50px;
        background-color: #ffffff;
     }
      .button1{
        font-size: 2rem;
        flex: 0 1 50%;
        margin: 0 10px;
        border-radius: 10px;
        text-align: center;
        border: 2px solid #5fc0cd;
        color: #5fc0cd;
        font-family:  "Adobe 黑体 Std R" ;
        background-color: #ffffff;
    } 
    .button2{
        padding: 10px;
        font-size: 2rem;
        flex: 0 1 50%;
        margin: 0 10px;
        border-radius: 10px;
        text-align: center;
        border: solid #5fc0cd;
        color: #ffffff;
        font-family:  "Adobe 黑体 Std R" ;
        background-color:#5fc0cd;
    }